$document-font-stack:        Arial, "Helvetica Neue", Helvetica, sans-serif;
$document-text-color:        #444444;
$document-bg-color:          #ffffff;
$document-font-size:         14px;
$document-line-height:       1.5;

$heading-text-color:         #000000;

$navbar-height:              60px;
$navbar-bg-color:            #000000;
$navbar-text-color:          #ffffff;
$navbar-text-color-inactive: #bbbbbb;
$navbar-text-color-active:   #333333;

$grid-container-width:       1020px;
$grid-gutter-width:          30px;

$footer-height:              60px;
