*.swp
doc/_includes/tutorial_toc.html
doc/_site/**
doc/_api/**
doc/assets/css/customize.css
doc/assets/css/layout.css
doc/assets/css/navbar.css
doc/assets/css/normalize.css
doc/assets/css/style.css
doc/assets/css/tables.css
doc/_manpages/*.gz
test/spool/**
pack/tmp-install/**
TODO.txt
