Source: caius
Section: contrib/misc
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://caiusproject.com

Package: caius
Architecture: any
Depends: tcl (>= 8.6) | tcl8.6, tcllib, itcl | itcl3,
    tcl-thread|tclthread, tdom, openssh-client, telnet, procps
Description: a functional testing framework in object-oriented Tcl
 Caius is a functional testing framework for the 21st century.
 It was born out of the need for a contemporary replacement for
 DejaGnu.
 .
 Caius is written in object-oriented Tcl and provides easy-to-use
 programming interfaces to Selenium WebDriver and Expect. Through
 its extensible reporting system, Caius integrates well with
 modern CI systems and test management tools. 

#Package: caius-doc
#Architecture: all
#Description: documentation for the functional testing framework Caius
# Caius is a functional testing framework for the 21st century.
# It was born out of the need for a contemporary replacement for
# DejaGnu.
# .
# Caius is written in object-oriented Tcl and provides easy-to-use
# programming interfaces to Selenium WebDriver and Expect. Through
# its extensible reporting system, Caius integrates well with
# modern CI systems and test management tools.
# .
# This package contains the documentation.

