#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	set -e; cd doc/_manpages && for src in *.md; do \
	    ronn --pipe -r "$$src" | gzip -n9 > "$${src%.md}.3caius.gz"; \
	done

override_dh_auto_test:

override_dh_auto_install:

override_dh_auto_clean:
	rm -f doc/_manpages/*.3caius.gz
