
.masthead {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #334466;
  height: 400px;
}

.masthead .row {
  position: relative;
}

.billboard {
  position: relative;
  margin-top: 120px;
  padding: 10px 0px;
}

.billboard-slogan {
  font-size: 50px;
  line-height: 80px;
  font-weight: bold;
}

.billboard-text {
  font-size: 28px;
  line-height: 45px;
}

.direct-links {
  margin-top: 20px;
}

.direct-links a {
  color: #ffffff;
}
